{% extends "./base.html" %}

{% block title %} Gestión de Personas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 style="color: #E67320">Editar vivienda</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarVivienda/{{viviendas.idVivienda}}/" method="POST" class="">{% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label class="form-label">Barrio</label>
                        <select id="txtidBarrio" name="txtidBarrio" class="form-control">
                            {% for d in barrios %}
                                <option value="{{ d.idBarrio}}">{{d.nombreBarrio}}</option>
                            {% endfor %}
                        </select>
                      </div> 

                      <div class="form-group mb-3">
                        <label class="form-label">Tipo Vivienda</label>
                        <select id="txtidTipovivienda" name="txtidTipovivienda" class="form-control">
                            {% for d in tipoviviendas %}
                                <option value="{{ d.idTipoVivienda}}">{{d.nombre}}</option>
                            {% endfor %}
                        </select>
                      </div> 
                    
                    <div class="form-group mb-3">
                        <label  value="{{d.direccion}}" class="form-label">Direccion</label>
                        <input type="text" id="txtDireccion" value="{{viviendas.direccion}}" name="txtDireccion" class="form-control" placeholder="Direccion "
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Capacidad</label>
                        <input type="number" id="txtCapacidad" name="txtCapacidad"   value="{{viviendas.capacidad}}" class="form-control" placeholder="Capacidad"
                        min="1" max="1000" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Identificacion propietario</label>
                        <input type="number" id="txtPropietario" name="txtPropietario"  value="{{viviendas.idPropietario}}" class="form-control" placeholder="Propietario"
                           min="1000" required>
                    </div>
                    <div class="d-grid gap-2 caja-guardar">
                        <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
                    </div>
                   
                      </form>
                      <div class="d-grid gap-2 caja-cancelar">
                        <button class="btn btn-block boton-cancelar" onclick="goToPage('/gestionViviendas')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}