{% extends "./base.html" %}

{% block title %} Gestión de Personas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Persona</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarBarrio/{{barrios.idBarrio}}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNombreBarrio" name="txtNombreBarrio" value="{{barrios.nombreBarrio}}" class="form-control" placeholder="nombre barrio">
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtPoblacion" name="txtPoblacion" value="{{barrios.poblacion}}" class="form-control" placeholder="poblacion"
                            maxlength="50">
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Municipio</label>
                        <select id="txtMunicipio" name="txtMunicipio" class="form-control">
                            {% for d in municipios %}
                                <option value="{{d.idMunicipio}}">{{d.nombreMunicipio}}</option>
                            {% endfor %}
                        </select>
                      </div> 

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}