{% extends "./base.html" %}

{% block title %} Gestión de Personas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 style="color: #e67320">Editar municipio</h2>
    <div class="card">
      <div class="card-body">
        <form action="/editarMunicipio/{{municipios.idMunicipio}}/" method="POST" class="">
          {% csrf_token %}
          <div class="form-group ">
            <label class="form-label">Nombre</label>
            <input type="text" id="txtNombreMunicipio" name="txtNombreMunicipio" value="{{municipios.nombreMunicipio}}" class="form-control" placeholder="nombre de municipio" maxlength="50"/>
          </div>

          <div class="form-group">
            <label class="form-label">Población</label>
            <input type="number" id="txtPoblacion" name="txtPoblacion" value="{{municipios.poblacion}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>

          <div class="form-group">
            <label class="form-label">Area total (km)</label>
            <input type="number" id="txtArea" name="txtArea" value="{{municipios.area}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>

        <div class="form-group">
          <label class="form-label">Presupuesto (Millones)</label>
          <input type="number" id="txtPresupuesto" name="txtPresupuesto" value="{{municipios.presupuesto}}" class="form-control" placeholder="presupuesto"
              maxlength="50">
      </div>
           
      <div class="form-group mb-3">
        <label class="form-label">Departamento</label>
        <select id="txtDepartamento" name="txtDepartamento" class="form-control">
            {% for d in departamentos %}
                <option value="{{d.idDepartamento}}">{{d.nombreDepartamento}}</option>
            {% endfor %}
        </select>
      </div>

          <div class="form-group">
            <label class="form-label">Documento del Alcalde</label>
            <input type="number" id="txtAlcalde" name="txtAlcalde" value="{{municipios.idAlcalde}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>
        <div class="d-grid gap-2 caja-guardar">
          <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
      </div>
     
        </form>
        <div class="d-grid gap-2 caja-cancelar">
          <button class="btn btn-block boton-cancelar" onclick="goToPage('/gestionMunicipios')">Cancelar</button>
      </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}