{% extends "./base.html" %}

{% block title %} Gestión de Personas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar persona</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarPersona/{{persona.idPersona}}/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label class="form-label">Tipo de documento</label>
                        <select id="txtDocumento" name="txtDocumento" class="form-select" required>
                            <option value="CC" {% if persona.tipo_de_documentacion == 'CC' %} selected {% endif %}>Cédula de ciudadania</option>
                            <option value="TI" {% if persona.tipo_de_documentacion == 'TI' %} selected {% endif %}>Tarjeta de Identidad</option>
                            <option value="CE" {% if persona.tipo_de_documentacion == 'CE' %} selected {% endif %}>Cédula de Extranjería</option>
                            <option value="N" {% if persona.tipo_de_documentacion == 'N' %} selected {% endif %}>No especificado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Numero de identificacion</label>
                        <input type="number" id="txtNumeroIdentificacion" name="txtNumeroIdentificacion" value="{{persona.idPersona}}" class="form-control" placeholder="Nombre"
                            min="100" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nombre</label>
                        <input type="text" id="txtNombre" name="Nombre" value="{{persona.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Apellido</label>
                        <input type="text" id="txtApellido" name="Apellido" value="{{persona.apellido}}" class="form-control" placeholder="Apellido"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Telefono</label>
                        <input type="number" id="txttelefono" name="telefono" value="{{persona.telefono}}" class="form-control" placeholder="telefono"
                        min="1000000000" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Sexo</label>
                        <select id="selectSexo" name="sexo" class="form-select" required>
                            <option value="M" {% if persona.sexo == 'M' %} selected {% endif %}>Masculino</option>
                            <option value="F" {% if persona.sexo == 'F' %} selected {% endif %}>Femenino</option>
                            <option value="N" {% if persona.sexo == 'N' %} selected {% endif %}>No especificado</option>
                        </select>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento"  value="{{d.fecha_nacimiento}}" class="form-control" placeholder="Fecha de Nacimiento" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Documento de cabeza de familia</label>
                        <input type="number" id="txtCabezaIdentificacion" name="txtCabezaIdentificacion" value="{{persona.idResponsable.idPersona}}" class="form-control" placeholder="Numero de identificación" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Direccion Vivienda</label>
                        <select id="txtRelacionvivienda" name="txtRelacionvivienda" class="form-control">
                            {% for d in viviendas %}
                                <option value="{{d.idVivienda}}">{{d.direccion}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    
                      <div class="d-grid gap-2 caja-guardar">
                        <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
                    </div>
                   
                      </form>
                      <div class="d-grid gap-2 caja-cancelar">
                        <button class="btn btn-block boton-cancelar" onclick="goToPage('/gestionPersonas')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}