{%extends "./base.html" %} {%block title%}Gestion Municipios{%endblock%} {% block body%}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %} {% endif %}
    <h2 style="color: #e67320">Crear Municipio</h2>
    <div class="card">
      <div class="card-body">
        <form action="/registrarMunicipio/" method="POST" class="">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label class="form-label">Nombre</label>
            <input type="text"             id="txtNombreMunicipio"              name="txtNombreMunicipio"     value="{{municipios.nombreMunicipio}}"          class="form-control"             placeholder="nombre de municipio" maxlength="50"/>
          </div>

          <div class="form-group">
            <label class="form-label">Poblacion</label>
            <input type="number" id="txPoblacion" name="txtPoblacion" value="{{municipios.poblacion}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>

          <div class="form-group">
            <label class="form-label">area total</label>
            <input type="number" id="txtArea" name="txtArea" value="{{municipios.area}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>

        <div class="form-group">
          <label class="form-label">Presupuesto</label>
          <input type="number" id="txtPresupuesto" name="txtPresupuesto" value="{{municipios.Presupuesto}}" class="form-control" placeholder="presupuesto"
              maxlength="50">
      </div>
           
          <div class="form-group mb-3">
            <label class="form-label">Departamento</label>
            <select id="txtDepartamento" name="txtDepartamento" class="form-control">
                {% for d in departamentos %}
                    <option value="{{ d.idDepartamento }}">{{d.nombreDepartamento}}</option>
                {% endfor %}
            </select>
          </div> 
          <div class="form-group">
            <label class="form-label">Documento del Alcalde</label>
            <input type="number" id="txtAlcalde" name="txtAlcalde" value="{{municipios.idAlcalde}}" class="form-control" placeholder="Numero de identificación"
                maxlength="50">
        </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-block text-white text-bold" style="background-color: #e67320; font-weight: bold" >Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1 style="color: #e67320">Listado municipios</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Area total</th>
            <th>Presupuesto</th>
            <th>Departamento</th>
            <th>Alcalde</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in municipios %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.idMunicipio}}</td>
            <td>{{d.nombreMunicipio}}</td>
            <td>{{d.poblacion}}</td>
            <td>{{d.area}}</td>
            <td>{{d.presupuesto}}</td>
            <td>{{d.idDepartamento}}</td>
            <td>{{d.idAlcalde}}</td>
            <td>
              <a
                href="/edicionMunicipio/{{d.idMunicipio}}/"
                class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/eliminarMunicipio/{{d.idMunicipio}}/"
                class="btn btn-danger btnEliminacion"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
