{%extends "./base.html" %}
{%block title%}Gestion Viviendas{%endblock%}
{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 style="color: #E67320">Agregar vivienda</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarVivienda/" method="POST" class="">{% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label class="form-label">Barrio</label>
                        <select id="txtidBarrio" name="txtidBarrio" class="form-control">
                            {% for d in barrios %}
                                <option value="{{ d.idBarrio}}">{{d.nombreBarrio}}</option>
                            {% endfor %}
                        </select>
                      </div> 

                      <div class="form-group mb-3">
                        <label class="form-label">Tipo Vivienda</label>
                        <select id="txtidTipovivienda" name="txtidTipovivienda" class="form-control">
                            {% for d in tipoviviendas %}
                                <option value="{{ d.idTipoVivienda}}">{{d.nombre}}</option>
                            {% endfor %}
                        </select>
                      </div> 
                    
                    <div class="form-group mb-3">
                        <label class="form-label">Direccion</label>
                        <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="Direccion "
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Capacidad</label>
                        <input type="text" id="txtCapacidad" name="txtCapacidad" class="form-control" placeholder="Capacidad"
                            maxlength="50">
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">identificacion Propietario</label>
                        <input type="text" value="{{personas.idPersona}}" id="txtPropietario" name="txtPropietario" class="form-control" placeholder="Propietario"
                            >
                    </div>
                    <div class="d-grid gap-2 caja-guardar">
                        <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 style="color: #E67320">Listado de Viviendas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Direccion</th>
                        <th>Capacidad</th>
                        <th>Barrio</th>
                        <th>Tipo</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in viviendas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{v.idVivienda}}</td>
                        <td>{{v.direccion}}</td>
                        <td>{{v.capacidad}}</td>
                        <td>{{v.idBarrio.nombreBarrio}}</td>
                        <td>{{v.idTipo_vivienda.nombre}}</td>  
                        <td><a href="/edicionVivienda/{{v.idVivienda}}/" class="btn btn-editar">Editar</a></td>
                        <td><a href="/eliminarVivienda/{{v.idVivienda}}/" class="btn btn-eliminar">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}