{%extends "./base.html" %} {%block title%}Gestion Barrios{%endblock%} {% block body%}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %} {% endif %}
    <div class="card">
      <div class="card-body">
          <form action="/registrarBarrio/" method="POST">{% csrf_token %}
              <div class="form-group">
                  <input type="text" id="txtNombreBarrio" name="txtNombreBarrio" value="{{barrios.nombreBarrio}}" class="form-control" placeholder="nombre barrio"
                     >
              </div>
              <div class="form-group">
                  <input type="number" id="txtPoblacion" name="txtPoblacion" value="{{barrios.poblacion}}" class="form-control" placeholder="poblacion"
                      maxlength="50">
              </div>

              <div class="form-group mb-3">
                  <label class="form-label">Municipio</label>
                  <select id="txtMunicipio" name="txtMunicipio" class="form-control">
                      {% for d in municipios %}
                          <option value="{{d.idMunicipio}}">{{d.nombreMunicipio}}</option>
                      {% endfor %}
                  </select>
                </div> 

              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
              </div>
          </form>
      </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1 style="color: #e67320">Listado Barrios</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Municipio</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in barrios %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.idBarrio}}</td>
            <td>{{d.nombreBarrio}}</td>
            <td>{{d.poblacion}}</td>
            <td>{{d.idMunicipio.nombreMunicipio}}</td>
            
            
            
            <td>
              <a
                href="/edicionBarrio/{{d.idBarrio}}"
                class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/eliminarBarrio/{{d.idBarrio}}"
                class="btn btn-danger btnEliminacion"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
