{%extends "./base.html" %} {%block title%}Gestion Barrios{%endblock%} {% block body%}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">    
    <h2 style="color: #E67320">Agregar barrio</h2>
    <div class="card">
      <div class="card-body">
          <form action="/registrarBarrio/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label class="form-label">Nombre barrio</label>
                  <input type="text" required id="txtNombreBarrio" name="txtNombreBarrio" value="{{barrios.nombreBarrio}}" class="form-control" placeholder="Galan"
                     >
              </div>
              <div class="form-group">
                <label class="form-label">Población</label>
                  <input type="number" required id="txtPoblacion" name="txtPoblacion" value="{{barrios.poblacion}}" class="form-control" placeholder="1000"
                  min="1" max="1000000">
              </div>

                
              <div class="form-group mb-3">
                <label class="form-label">Municipio del barrio</label>
                <input type="text" id="txtBusquedaMunicipio" class="form-control" placeholder="Buscar Municipio">
                <div id="selectWrapper" class="form-group mb-3" style="display: none;"> <!-- Utiliza un contenedor para el select y ocúltalo por defecto -->
                    <label class="form-label">Seleccionar Municipio</label>
                    <select id="txtidMunicipio" name="txtidMunicipio" class="form-control">
                        {% for municipio in municipios %}
                            <option value="{{municipio.idMunicipio}}" data-id="{{municipio.idMunicipio}}">{{municipio.nombreMunicipio}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            
            
            <div class="modal fade" id="modalBusquedaMunicipio" tabindex="-1" aria-labelledby="modalBusquedaMunicipioLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalBusquedaMunicipioLabel">Buscar Municipio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <input type="text" id="txtBusquedaMunicipioModal" class="form-control" placeholder="Buscar Municipio">
                    <div id="opcionesMunicipioModal" class="opciones-municipio"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                </div>
            </div>

                <div class="d-grid gap-2 caja-guardar">
                  <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
              </div>
          </form>
      </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1 style="color: #e67320">Listado Barrios</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Municipio</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in barrios %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.idBarrio}}</td>
            <td>{{d.nombreBarrio}}</td>
            <td>{{d.poblacion}}</td>
            <td>{{d.idMunicipio.nombreMunicipio}}</td>
            
            
            
            <td>
              <a
                href="/edicionBarrio/{{d.idBarrio}}"
                class="btn btn-editar"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/eliminarBarrio/{{d.idBarrio}}"
                class="btn btn-eliminar"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  .opcion-municipio {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .opcion-municipio:hover {
      background-color: #f4f4f4;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      // Función para actualizar el valor del select de barrio
      function actualizarTxtRelacionvivienda(valor) {
          $('#txtidMunicipio').val(valor);
      }
  
      // Evento para manejar la selección de un barrio en el modal
      $('#opcionesMunicipioModal').on('click', '.opcion-municipio', function() {
          var municipioSeleccionado = $(this).text();
          var idMunicipioSeleccionado = $(this).data('id');
          $('#txtBusquedaMunicipio').val(municipioSeleccionado);
          actualizarTxtRelacionvivienda(idMunicipioSeleccionado);
          $('#modalBusquedaMunicipio').modal('hide'); // Ocultar el modal
      });
  
      // Evento para manejar la búsqueda de barrios en el modal
      $('#txtBusquedaMunicipioModal').on('input', function() {
          var searchText = $(this).val().toLowerCase();
          var opciones = $('#opcionesMunicipioModal');
          opciones.empty(); // Limpiar opciones anteriores
          var count = 0; // Contador de resultados mostrados
          if (searchText.length > 0) {
              $('#txtidMunicipio option').each(function() {
                  var optionText = $(this).text().toLowerCase();
                  if (optionText.includes(searchText)) {
                      var opcion = $('<div class="opcion-municipio"></div>').text(optionText).data('id', $(this).val());
                      opciones.append(opcion);
                      count++;
                  }
                  if (count >= 10) {
                      return false; // Salir del bucle cuando se alcance el máximo de 10 resultados
                  }
              });
          }
      });
  
      // Evento para mostrar el modal al hacer clic en el campo de búsqueda del formulario principal
      $('#txtBusquedaMunicipio').click(function() {
          $('#modalBusquedaMunicipio').modal('show');
      });
  
      // Evento para manejar el envío del formulario principal
      $('form').submit(function() {
          var municipioSeleccionado = $('#txtBusquedaMunicipio').val();
          var idMunicipioSeleccionado = $('#txtidMunicipio').val();
          if (!municipioSeleccionado || !idMunicipioSeleccionado) {
              alert('Por favor, seleccione un barrio.');
              return false; // Evitar que se envíe el formulario si falta el barrio
          }
      });
  });
</script>

{% endblock %}
