{%extends "./base.html" %} {%block title%}Gestion Departamentos{%endblock%} {% block body%}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2 style="color: #e67320">Agregar departamento</h2>
    <div class="card">
      <div class="card-body">
        <form action="/registrarDepartamento/" method="POST" class="">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label class="form-label">Nombre departamento</label>
            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required/>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Poblacion</label>
            <input type="number" min="1" max="10000000" id="txtPoblacion" name="txtPoblacion" class="form-control" placeholder="100" maxlength="50" required/>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Documento del Gobernador</label>
            <input type="number" id="txtGobernador" name="txtGobernador" value="{{departamentos.idGobernador}}" class="form-control" placeholder="Numero de identificación"
            min="1000" required>
        </div>
          <div class="d-grid gap-2 caja-guardar">
            <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1 style="color: #e67320">Listado departamentos</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped table-hover">
        <thead class="orange-header">
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Gobernador</th> 
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in departamentos %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.idDepartamento}}</td>
            <td>{{d.nombreDepartamento}}</td>
            <td>{{d.poblacion}}</td>
            <td>{{d.idGobernador.idPersona}}</td>
            <td>
              <a
                href="/edicionDepartamento/{{d.idDepartamento}}/"
                class="btn btn-editar"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/eliminarDepartamento/{{d.idDepartamento}}"
                class="btn btn-eliminar"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}