{%extends "./base.html" %}
{%block title%}Gestion Personas{%endblock%}
{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 style="color: #E67320">Agregar persona</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarPersona/" method="POST" class="">{% csrf_token %}
                    <div class="form-group">
                        <label for="txtTelefono" class="form-label">Tipo de documento</label>
                        <select id="txtDocumento" name="txtDocumento" class="form-select form-control"  placeholder="Tipo de documento" required>
                            <option value="CC" {% if persona.tipo_de_documentacion == 'CC' %} selected {% endif %}>Cédula de ciudadania</option>
                            <option value="TI" {% if persona.tipo_de_documentacion == 'TI' %} selected {% endif %}>Tarjeta de Identidad</option>
                            <option value="CE" {% if persona.tipo_de_documentacion == 'CE' %} selected {% endif %}>Cédula de Extranjería</option>
                            <option value="N" {% if persona.tipo_de_documentacion == 'N' %} selected {% endif %}>No especificado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Número de identificación</label>
                        <input type="number" id="txtNumeroIdentificacion" name="txtNumeroIdentificacion" value="{{persona.idPersona}}" class="form-control" placeholder="Numero de identificación"
                         min="1000" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido"
                            maxlength="50">
                    </div>
                    <div class="form-group mb-3">
                        <label for="txtTelefono" class="form-label">Teléfono</label>
                        <input type="number" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Teléfono" min="1000000000" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="selectSexo" class="form-label">Sexo</label>
                        <select id="selectSexo" name="selectSexo" class="form-select form-control" required>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="N">No especificado</option>
                        </select>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
                    </div>
                    

                    <div class="form-group">
                        <label class="form-label">Documento de cabeza de familia</label>
                        <input type="number" id="txtCabezaIdentificacion" name="txtCabezaIdentificacion" value="{{persona.idResposable}}" class="form-control" placeholder="Numero de identificación"
                            min="100" required>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Dirección de la vivienda</label>
                        <button type="button" class="btn boton-guardar" data-toggle="modal" data-target="#exampleModal" style="margin-bottom:0.5rem;">
                            Elegir
                          </button>
                        <input disabled type="text" id="txtBusquedaDireccion" class="form-control" placeholder="Buscar dirección de vivienda">
                        
                        <div id="opcionesDirecciones" class="opciones-direcciones"></div> <!-- Div para mostrar opciones filtradas -->
                    </div>
                      <div class="d-grid gap-2 caja-guardar">
                        <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Elegir dirección</h5>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label class="form-label">Dirección de la vivienda</label>
                                    <input type="text" id="txtBusquedaDireccion" class="form-control" placeholder="Buscar dirección de vivienda">
                                    <div id="opcionesDirecciones" class="opciones-direcciones"></div> <!-- Div para mostrar opciones filtradas -->
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn boton-cancelar" data-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn boton-guardar">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                </form>
                
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 style="color: #E67320">Listado de Personas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipo Documento</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Sexo</th>
                        <th>Fecha de nacimiento</th>
                        <th>Cabeza de familia</th>
                        <th>Direccion de vivienda</th> <!-- Nueva columna para mostrar la vivienda -->
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in personas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.tipo_de_documento}}</td>
                        <td>{{c.idPersona}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.sexo}}</td>
                        <td>{{c.fecha_nacimiento}}</td>
                        <td>{{c.idResponsable.nombre}}</td>
                        <!-- Acceder a la vivienda de la persona a través de la tabla intermedia -->
                        <td>{{ c.personavivienda_set.first.idVivienda.direccion }}</td> <!-- Modifica esta línea según tus modelos -->
                        <td><a href="edicionPersona/{{c.idPersona}}" class="btn btn-editar">Editar</a></td>
                        <td><a href="eliminarPersona/{{c.idPersona}}" class="btn btn-eliminar">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    

</div>
<script>
    $(document).ready(function() {
        $('#txtBusquedaDireccion').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            var opciones = $('#ventanaBusqueda');
            opciones.empty(); // Limpiar contenido anterior
            if (searchText.length > 0) {
                $('#txtRelacionvivienda option').each(function() {
                    var optionText = $(this).text().toLowerCase();
                    if (optionText.includes(searchText)) {
                        var opcion = $('<div class="opcion-direccion"></div>').text(optionText);
                        opcion.click(function() {
                            var direccionSeleccionada = $(this).text();
                            $('#txtBusquedaDireccion').val(direccionSeleccionada);
                            $('#txtRelacionvivienda').val($(this).parent().find('option').filter(function() {
                                return $(this).text().toLowerCase() === direccionSeleccionada.toLowerCase();
                            }).val());
                            $('#ventanaBusqueda').hide();
                        });
                        opciones.append(opcion);
                    }
                });
                opciones.show(); // Mostrar la ventana de búsqueda
            } else {
                opciones.hide(); // Ocultar la ventana de búsqueda si no hay texto de búsqueda
            }
            // Posicionar la ventana de búsqueda sobre el campo de búsqueda
            opciones.css({
                top: $('#txtBusquedaDireccion').position().top + $('#txtBusquedaDireccion').outerHeight(),
                left: $('#txtBusquedaDireccion').position().left,
                width: $('#txtBusquedaDireccion').outerWidth()
            });
        });
    });
</script>
{% endblock %}