{%extends "./base.html" %} {%block title%}Gestion Barrios{%endblock%} {% block body%}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">    
    <h2 style="color: #E67320">Agregar barrio</h2>
    <div class="card">
      <div class="card-body">
          <form action="/registrarBarrio/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label class="form-label">Nombre barrio</label>
                  <input type="text" required id="txtNombreBarrio" name="txtNombreBarrio" value="{{barrios.nombreBarrio}}" class="form-control" placeholder="Galan"
                     >
              </div>
              <div class="form-group">
                <label class="form-label">Población</label>
                  <input type="number" required id="txtPoblacion" name="txtPoblacion" value="{{barrios.poblacion}}" class="form-control" placeholder="1000"
                  min="1" max="1000000">
              </div>

              <div class="form-group mb-3">
                  <label class="form-label">Municipio</label>
                  <select required id="txtMunicipio" name="txtMunicipio" class="form-control">
                      {% for d in municipios %}
                          <option value="{{d.idMunicipio}}">{{d.nombreMunicipio}}</option>
                      {% endfor %}
                  </select>
                </div> 

                <div class="d-grid gap-2 caja-guardar">
                  <button type="submit" class="btn btn-block boton-guardar" >Guardar</button>
              </div>
          </form>
      </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1 style="color: #e67320">Listado Barrios</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Municipio</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in barrios %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.idBarrio}}</td>
            <td>{{d.nombreBarrio}}</td>
            <td>{{d.poblacion}}</td>
            <td>{{d.idMunicipio.nombreMunicipio}}</td>
            
            
            
            <td>
              <a
                href="/edicionBarrio/{{d.idBarrio}}"
                class="btn btn-editar"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/eliminarBarrio/{{d.idBarrio}}"
                class="btn btn-eliminar"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
