{%extends "./base.html" %}
{%block title%}Gestion Personas{%endblock%}
{% block body%}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2 style="color: #E67320">Agregar persona</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarPersona/" method="POST" class="">{% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido"
                            maxlength="50">
                    </div>
                    <div class="form-group mb-3">
                        <label for="txtTelefono" class="form-label">Teléfono</label>
                        <input type="number" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Teléfono" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="selectSexo" class="form-label">Sexo</label>
                        <select id="selectSexo" name="selectSexo" class="form-select" required>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="N">No especificado</option>
                        </select>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="txtEdad" class="form-label">Edad</label>
                        <input type="number" id="txtEdad" name="txtEdad" class="form-control" placeholder="Edad" required>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block text-white text-bold" style="background-color: #e67320; font-weight: bold" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 style="color: #E67320">Listado de Personas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th>Cabeza_familia</th>
                        <th>Vivienda</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in personas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.idPersona}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.sexo}}</td>
                        <td>{{c.edad}}</td>
                        <td>{{c.edad}}</td>
                        <td>{{c.edad}}</td>
                        <td><a href="edicionPersona/{{c.idPersona}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarPersona/{{c.idPersona}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}